body{
  background-image: url('circles-dark.png');
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2, h3{border-bottom: 2px solid lightgrey;
  padding-bottom: 5px;
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
#head{background-color: white;
 
  width:960px;
  margin: 0 auto;
}
.classWithPad{background-color: white;
              padding: 20px;
}
#name-background{color:white;
  background-color: #4aaaa5;
  margin-right:300px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
#profile-pic{width: 200px;
              height:200px;
              float:left;
              margin-right:10px;
 }
#head{background-color: white;
  margin-bottom: 15px;
}
#about{text-align: left;}
#footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #666666;
  padding: 30px;
  border-top: solid 10px #4aaaa5;
  color: white;
  margin-top: 15px;
}  
.btn{background-color:#4aaaa5;

}

#head-background{background-color:white;
              height: 75px;
              border-bottom: 2px solid lightgrey;
              margin-bottom: 15px;
}

.container{width: 960px;
  margin: auto;
}
#forms{text-align: left;
}